@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-color: hsl(257, 40%, 49%);
  color: #fff;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  /* width: 100vw; */
  height: 100vh;
  /* max-width: 1440; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* img {
  max-width: 100%;
} */

.container {
  /* max-width: 100%; */
  max-width: 1440px;
  margin: 0 70px;
  border: 1px solid red;
}

.logo {
  margin: 50px 0 80px;
}

.logo img {
  width: 210px;
}

.content {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  /* margin: 100px 0; */
  border: 1px solid red;
}

.left-side {
  flex: 1.36;
  /* margin-right: 20px; */
  border: 1px solid red;
}

.left-side img {
  display: block;
  /* object-fit: cover; */
  /* height: auto; */
  width: 100%;
}

.right-side {
  flex: 1;
  padding-top: 50px;
  margin-left: 40px;
  /* align-self: center; */
  border: 1px solid red;
}

.title {
  /* font-family: 'Poppins', sans-serif; */
  margin-bottom: 30px;
  font-size: 42px;
  /* letter-spacing: 1.1px; */
  /* font-weight: 700; */
}

.subtitle {
  opacity: 0.8;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.6;
  letter-spacing: 1.1px;
}

.btn {
  padding: 18px 65px;
  border-radius: 40px;
  border: none;
  color: hsl(257, 40%, 49%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  background-color: #fff;
}

.btn:focus {
  outline: none;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  /* padding-top: 40px; */
  border: 1px solid red;
}

.social-media a {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  margin-left: 16px;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;
  }

  .container {
    margin: 0 40px;
  }

  .logo {
    margin: 40px 0 50px;
  }

  .logo img {
    width: 30%;
  }

  .content {
    flex-direction: column;
    /* margin: 50px 0; */
  }

  .title {
    /* font-family: 'Poppins', sans-serif; */
    margin-bottom: 20px;
    font-size: 26px;
    /* letter-spacing: 1.1px; */
    /* font-weight: 700; */
  }

  .subtitle {
    opacity: 0.9;
    font-size: 16px;
    margin-bottom: 20px;
    /* line-height: 1.7; */
    letter-spacing: 0.9px;
  }

  .left-side {
    flex: 1;
    margin-right: 0;
  }

  .right-side {
    flex: 1;
    margin-left: 0;
    text-align: center;
    padding-top: 70px;
  }

  .btn {
    padding: 14px 80px;
    font-size: 14px;
  }

  .social-media {
    justify-content: center;
    margin-top: 50px;
  }

  .social-media a {
    width: 30px;
    height: 30px;
    margin-left: 12px;
  }
}
